body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply
    bg-alpha
    text-bravo
    font-roboto
    m-0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Content__container {
  @apply
    max-w-6xl
    mx-auto
    pl-4
    pr-4;
}
